/* app.css */
:root {
    --ev-bg: #1e2326;
    --ev-card-bg: #272e33;
    --ev-text: #d3c6aa;
    --ev-accent: #a7c090;
    --ev-input-bg: #272e33;
}

body {
    background-color: var(--ev-bg);
    color: var(--ev-text);
    font-family: sans-serif;
    margin: 0;
}

input {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    background-color: var(--ev-input-bg);
    border: 1px solid var(--ev-accent);
    color: var(--ev-text);
    border-radius: 6px;
    box-sizing: border-box; /* Wichtig für Padding */
    outline: 1px solid var(--ev-accent);
}

input:invalid {
    border-color: #e67e80;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Abstand zwischen den Buttons */
    margin-top: 10px;
}

.retro-card {
    background-color: var(--ev-card-bg);
    border-radius: 8px;
    padding: 20px;
    width: 32rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-custom {
    background-color: var(--ev-accent);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-custom:disabled {
    background-color: #3d484d; /* Ein dunkleres Grau aus dem Everforest-Schema */
    color: #9da9a0; /* Weniger Kontrast für Text */
    cursor: not-allowed;
    filter: none; /* Kein Hover-Effekt mehr */
}

.btn-custom:hover {
    filter: brightness(1.2);
}
